*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
}
#hero img{
    height: 100vh;
}
#lugarfecha h3, #lugarfecha p{
    color: white;
    margin-top: 1rem;
}
#formulario button{
    background-color: rgb(155, 204, 63);
    border: none;
}
#btnverde{
    color: green;

}
footer{
    background-color: #000C4F;
}
footer .nav-link{
    color: white;
}
#tarjetas{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}
#pagos{
    width: 62%;
    margin-top: 30px;
}
.btn-10{
    background-color: rgb(127, 206, 9);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 175px;
    text-align: center;
}
#formulario2{
    margin-top: 10px;
}
#tarjeta1{
    border: 1px solid blue;
}
#tarjeta2{
    border: 1px solid rgb(0, 183, 255);
}
#tarjeta3{
    border: 1px solid orange;
}
